<div class='titlesection'>
  <img src= '<%= asset_path "trelora_house.png" %>' />
  <p class='title'>  <%= @slide.title %>  </p>
  <p class='subtitle'>  <%= @slide.subtitle %>  </p>
</div>
<div class='underline'></div>
