$(document).ready(function(){
  pullSlide();
});

function pullSlide() {
  $.ajax({
    method: "GET",
    url: "/api/v1/signage",
    dataType: "JSON",
    success: renderContent,
    error: tryAgain
  });
};

function tryAgain(jqXHR, status, error) {
  try {
    console.warn("Error getting slides from server. Status:"+status+", Error:"+error.toString());
  } catch(e) {
    // just in case the console line above fails.
  }

  window.setTimeout(pullSlide, 5);  // try 5 seconds later
}

function renderContent(listingInfo) {
  if($.isEmptyObject(listingInfo.sign)) {
    showDeviceId();
  } else {
    renderSlide(listingInfo.sign, listingInfo.time);
  }
}

function showDeviceId() {
  var deviceCode = $("#device-content").attr('class');
  $(".second").html("<h1 id='device-code'>Screen ID: " + deviceCode + "</h1>");
}

function renderSlide(slideData, timeout) {
  console.log(slideData);
  var nextSlide = getSlide(slideData);

  if ($('.second').css('opacity') > 0) {
    $('.first').html(nextSlide);
    $('.second').css({opacity: 0});
  } else {
    $('.second').html(nextSlide).css({opacity: 100});
  }

  $(document).one('transitionend', '.second', function() {
    window.setTimeout(pullSlide, timeout);
  });
}


function getSlide(slide) {
  var housePath = '<%= asset_path "trelora_house.png" %>';
  return (
    "<div class='ribbon' style='background-color: " + slide.ribbon_color + ";' >" +
      "<div class='design-line'></div>" +
      "<p>" + slide.ribbon + "</p>" +
    "</div>" +
    "<div style='height: 100vh;width: 100vw;background-image: url(\"" + slide.best_large_image + "\");background-size: cover;'></div>" +
    "<div id='title'>" +
      "<img src='" + housePath + "'/>" +
      "<p class='title'>" + slide.title + "</p>" +
      "<p class='subtitle'>" + slide.subtitle + "</p>" +
    "</div>" +
    "<div id='underline'></div>"
  );
}
