var deviceCode;
$(document).ready(function(){
  deviceCode = $("#device-content").data('device-code');
  renderDefaultSlide();
  pullSlide();
});

function renderDefaultSlide() {
  var defaultSlide = getSlide({
    ribbon_color: "#428bca",
    ribbon: "Saved $12,346",
    best_large_image: '<%= asset_path "s_fundy_way.jpg" %>',
    title: "Congratulations",
    subtitle: "Scott of S Fundy Way"
  });

  $("body").append($('<div>').html(defaultSlide));
}

function pullSlide() {
  $.ajax({
    method: "GET",
    url: "/api/v1/signage",
    dataType: "JSON",
    success: renderContent,
    error: tryAgain
  });
};

function tryAgain(jqXHR, status, error) {
  try {
    console.warn("Error getting slides from server. Status:"+status+", Error:"+error.toString());
  } catch(e) {
    // just in case the console line above fails.
  }

  window.setTimeout(pullSlide, 5000);  // try 5 seconds later
}

function renderContent(listingInfo) {
  if($.isEmptyObject(listingInfo.sign)) {
    window.setTimeout(pullSlide, 5000);  // try 5 seconds later
  } else {
    renderSlide(listingInfo.sign, listingInfo.time, listingInfo.show_device_codes);
  }
}


function renderSlide(slideData, timeout, show_device_codes) {
  var img
  if (slideData.custom) { img = slideData.custom_background}
  else { img = slideData.best_large_image }
  preloadImage(img, function() {
    var nextSlide = getSlide(slideData, show_device_codes);

    if ($('.second').css('opacity') > 0) {
      $('.first').html(nextSlide);
      $('.second').css({opacity: 0});
    } else {
      $('.second').html(nextSlide).css({opacity: 100});
    }

    $(document).one('transitionend', '.second', function() {
      window.setTimeout(pullSlide, timeout);
    });
  });
}


function getSlide(slide, show_device_codes) {
  var housePath = '<%= asset_path "trelora_house.png" %>';
  var ribbonDisplay = ""
  if (slide.ribbon_display || !slide.custom) {
    ribbonDisplay = "<div class='ribbon' style='background-color: " + slide.ribbon_color + ";' >" +
                      "<div class='design-line'></div>" +
                      "<p>" + slide.ribbon + "</p>" +
                    "</div>"
  }
  if (slide.custom) {
    if (slide.role === 'confirm-lg-text') {
      return (
        "<div class='custom'>" +
        ribbonDisplay +
        "<div class='imgbg' style='background-image: url(\"" + slide.custom_background + "\");'></div>" +
        "<div class='lg-text'>" +
          "<img src='" + housePath + "'/>" +
          "<p class='title'>" + slide.title + "</p>" +
          "<div class='device-code'>"+ (show_device_codes ? deviceCode : '') +"</div>" +
        "</div>" +
        "<div class='underline'></div>" +
        "</div>"
      )
    } else if (slide.role === 'confirm-sub-text') {
      return (
        "<div class='custom'>" +
          ribbonDisplay +
          "<div class='imgbg' style='background-image: url(\"" + slide.custom_background + "\");'></div>" +
          "<div class='sub-text'>" +
            "<img src='" + housePath + "'/>" +
            "<p class='subtitle'>" + slide.subtitle + "</p>" +
            "<div class='device-code'>"+ (show_device_codes ? deviceCode : '') +"</div>" +
          "</div>" +
          "<div class='underline'></div>" +
        "</div>"
      )
    } else if (slide.role === 'confirm-lg-sub-text') {
      return (
        ribbonDisplay +
        "<div class='custom'>" +
          "<div class='imgbg' style='background-image: url(\"" + slide.custom_background + "\");'></div>" +
          "<div class='lg-sub-text'>" +
            "<img src='" + housePath + "'/>" +
            "<p class='title'>" + slide.title + "</p>" +
            "<p class='subtitle'>" + slide.subtitle + "</p>" +
            "<div class='device-code'>"+ (show_device_codes ? deviceCode : '') +"</div>" +
          "</div>" +
          "<div class='underline'></div>" +
        "</div>"
      )
    } else {
      return (
        ribbonDisplay +
        "<div class='imgbg' style='background-image: url(\"" + slide.custom_background + "\");'></div>" +
        "<div class='custom'>" +
          "<img src='" + housePath + "'/>" +
          "<div class='device-code'>"+ (show_device_codes ? deviceCode : '') +"</div>" +
        "</div>" +
        "<div class='underline'></div>"
      )
    }
  } else {
    return (
      ribbonDisplay +
      "<div class='imgbg' style='background-image: url(\"" + slide.best_large_image + "\");'></div>" +
      "<div class='titlesection'>" +
        "<img src='" + housePath + "'/>" +
        "<p class='title'>" + slide.title + "</p>" +
        "<p class='subtitle'>" + slide.subtitle + "</p>" +
        "<div class='device-code'>"+ (show_device_codes ? deviceCode : '') +"</div>" +
      "</div>" +
      "<div class='underline'></div>"
    );
  }
}


function preloadImage(url, cb) {
  var img = new Image();
  img.onload = cb;
  img.src = url;
}
