$(document).ready(function(){
  pullSlides();
});

function pullSlides() {
  $.ajax({
    method: "GET",
    url: "/api/v1/signage",
    dataType: "JSON",
    success: renderContent
  });
};

function renderContent(listingInfo) {
  if($.isEmptyObject(listingInfo.signs)) {
    showDeviceId();
  } else {
    renderSlides(0, listingInfo.signs, listingInfo.time);
  }
}

function showDeviceId() {
  var deviceCode = $("#device-content").attr('class');
  $(".second").html("<h1 id='device-code'>Screen ID: " + deviceCode + "</h1>");
}

function renderSlides(i, slides, timeout) {
  var nextSlide = getSlide(slides[i]);
  var cb = repeat.bind(null, i, slides, timeout);
  if ($('.second').is(":visible")) {
    $('.first').html(nextSlide);
    $('.second').css({opacity: 0}).one('transitionEnd', cb);
  } else {
    $('.second').html(nextSlide).css({opacity: 100}).one('transitionEnd', cb);
  }
}

function repeat(i, slides, timeout) {
  window.setTimeout(function(){
    if(i == slides.length -1) {
      pullSlides();
    } else {
      renderSlides(i + 1, slides, timeout);
    }
  }, timeout);
}


function getSlide(slide) {
  var housePath = '<%= asset_path "trelora_house.png" %>';
  return (
    "<div class='ribbon' style='background-color: " + slide.ribbon_color + ";' >" +
      "<div class='design-line'></div>" +
      "<p>" + slide.ribbon.toUpperCase() + "</p>" +
    "</div>" +
    "<div style='height: 100vh;width: 100vw;background-image: url(\"" + slide.best_large_image + "\");background-size: cover;'></div>" +
    "<div id='title'>" +
      "<img src='" + housePath + "'/>" +
      "<p>" + slide.title.toUpperCase().split(',')[0] + "</p>" +
    "</div>" +
    "<div id='underline'></div>"
  );
}
