$(document).ready(function(){
  pullSlides();
});

function pullSlides() {
  $.ajax({
    method: "GET",
    url: "/api/v1/signage",
    dataType: "JSON",
    success: renderContent
  });
};

function renderContent (listingInfo){
  if($.isEmptyObject(listingInfo.signs)){
    showDeviceId();
  } else {
    $("body").css("background-image", "none")
    renderSlides(0, listingInfo.signs, listingInfo.time);
  }
}

function showDeviceId() {
  var deviceCode = $("#device-content").attr('class');
  $(".second").html("<h1 id='device-code'>Screen ID: " + deviceCode + "</h1>");
  window.setTimeout(function(){pullSlides();}, 10000);
}

function renderSlides(nextSlide, slides, timeout) {
  var divs = determineDivs();
  currentDiv = divs[0];
  nextDiv    = divs[1];

  renderSlideIn(nextDiv, slides[nextSlide]);

  $(nextDiv).fadeIn(3000)
  $(currentDiv).fadeOut(3000, function() {
    window.setTimeout(function(){
      if(nextSlide == slides.length -1) {
        pullSlides();
      } else {
        renderSlides(nextSlide + 1, slides, timeout);
      }
    }, timeout);
  })
}

function determineDivs() {
  var currentDiv = "";
  var nextDiv = "";

  if($(".first").css("display") == "none"){
    currentDiv = ".second";
    nextDiv = ".first";
  } else {
    currentDiv = ".first";
    nextDiv = ".second";
  }

  return [currentDiv, nextDiv];
}

function renderSlideIn(nextDiv, slide) {
  var housePath = '<%= asset_path "trelora_house.png" %>';

  $(nextDiv).html("<div class='ribbon' style='background-color: " + slide.ribbon_color + ";' " + ">" + "<div class='design-line'></div>" + "<p>" + slide.ribbon.toUpperCase() + "</p>"  + "</div>" + "<div style='height: 100vh;width: 100vw;background-image: url(\"" + slide.best_large_image + "\");background-size: cover;'>" + "</div>" + "<div id='title'>" + "<img src='" + housePath + "'>" +"<p>" + slide.title.toUpperCase().split(',')[0] + "</p>" + "</div>" + "<div id='underline'></div>" + "</div>"
  );
}
