/*
 *= require_self
*/

body {
  background-image: image-url("dark_embroidery.png");
  color: #fff;
}

#admin-dashboard {
  color: #fff;
}

#trelora-logo {
  margin-top: 50px;
  height: 150px;
}

#device-title {
  margin-top: 30px;
  font-size: 60px;
  font-weight: lighter;
  letter-spacing: 5px;
  border-bottom: solid 1px #fff;
  margin-bottom: 50px;
}

#timer {
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 10px;
}

#refresh {
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 10px;
}

#custom {
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 10px;
}

.jumbotron {
  position: relative;
  width: 1024px;
  height: 576px;
  background-size: 1024px 576px;
  overflow: hidden;

  .ribbon {
    text-align: center;
    font-size: 10%;
    letter-spacing: 0.1vw;
    color: white;
    margin-top: 1%;
    padding-top: 1%;
    position: absolute;
    left: -12%;
    top: 5%;
    width: 50%;
    transform: rotate(-24deg);
    padding-bottom: 1%;

    .design-line {
      margin-top: 0;
      background-color: black;
      width: 100%;
      height: 0.5vw;
    }

    p {
      padding-top: 1vw;
      margin: 0;
      line-height: 75%;
      font-weight: 400;
      font-size: 39px;
      text-transform: uppercase;
    }
  }

  .large-text {
    position: absolute;;
    text-align: center;
    font-size: 4.5vw;
    color: white;
    width: 100%;
    padding: 13px 0 3px 0;

    p {
      padding-right: 17px;
      margin: 0;
      font-size: 80px;
      text-transform: uppercase;
      font-weight: bolder;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: black;
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 400px;
      &.title-0 {
        height: 100px;
        padding-top: 100px;
      }
      &.title-1 {
        height: 310px;
      }
    }

    img {
      max-height: 40px;
      position: absolute;
      right: 30px;
      top: -20px;
    }
  }

  .sub-text {
    position: absolute;;
    text-align: center;
    font-size: 4.5vw;
    color: white;
    width: 100%;
    padding: 13px 0 3px 0;

    p {
      padding-right: 17px;
      margin: 0;
      font-size: 40px;
      font-weight: 200;
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 400px;
    }

    img {
      max-height: 40px;
      position: absolute;
      right: 30px;
      top: -20px;
    }
  }

  .titlesection {
    position: absolute;;
    bottom: 0;
    text-align: right;
    font-size: 4.5vw;
    color: white;
    width: 100%;
    background-color: rgba(0,0,0,0.75);
    padding: 13px 0 3px 0;

    p {
      padding-right: 17px;
      margin: 0;
      &.title {
        font-size: 50px;
        text-transform: uppercase;
        font-weight: lighter;
      }

      &.subtitle {
        font-size: 40px;
        font-weight: lighter;
      }
    }

    img {
      max-height: 40px;
      position: absolute;
      bottom: 8px;
      left: 10px;
    }
  }
}

.font-format {
  font-size: 30px;
  margin-top: 10px;
  font-weight: lighter;
  letter-spacing: 5px;
}

.button {
  background-color: #96C93D;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
}

.form-check {
  display: inline-block;
  width: 30px;
  height: 30px;
}

#preview-options {
  width: auto;
  height: auto;
}

#button-refresh {
  margin-top: 20px;
  margin-bottom: 20px;
}

#button-submit {
  margin-top: 20px;
}

#button-reveal {
  background-color: #c93;
}
#button-unreveal {
  background-color: #c93;
}

#admin-table {
  margin-top: 20px;
}


#tv-icon {
  font-size: 50px;
}

#titles {
  margin-top: 30px;
  font-size: 60px;
  font-weight: lighter;
  letter-spacing: 5px;
  border-bottom: solid 1px #fff;
  margin-bottom: 50px;
}
