/*
 *= require_self
*/

body {
  background-image: image-url("dark_embroidery.png");
  color: #fff;
}

#admin-dashboard {
  color: #fff;
}

#trelora-logo {
  margin-top: 50px;
  height: 150px;
}

#device-title {
  margin-top: 30px;
  font-size: 60px;
  font-weight: lighter;
  letter-spacing: 5px;
  border-bottom: solid 1px #fff;
  margin-bottom: 50px;
}

#timer {
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 10px;
}

#refresh {
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 10px;
}

#custom {
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 10px;
}

.jumbotron {
  position: relative;
  max-width: 39vw;
  height: 22vw;
  background-size: cover;
  overflow: hidden;

  .ribbon {
    text-align: center;
    letter-spacing: 0.1vw;
    color: white;
    margin-top: 1vw;
    padding-top: 0.4vw;
    position: absolute;
    left: -6vw;
    top: 2vw;
    width: 33vw;
    transform: rotate(-24deg);
    padding-bottom: 0.2vw;

    .design-line {
      margin-top: 0;
      background-color: black;
      width: 100%;
      height: 0.2vw;
    }

    p {
      padding-top: 1vw;
      margin: 0;
      line-height: 2vw;
      font-weight: 400;
      font-size: 2.4vw;
      text-transform: uppercase;
      text-align: center;
    }
  }

  .large-text {
    position: absolute;;
    text-align: center;
    font-size: 4.5vw;
    color: white;
    width: 100%;
    padding: 8vw 0 0 0;

    p {
      padding-right: 0.5vw;
      margin: 0;
      font-size: 3.1vw;
      text-transform: uppercase;
      font-weight: bolder;
      -webkit-text-stroke-width: 0.16vw;
      -webkit-text-stroke-color: black;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .sub-text {
      position: absolute;;
      text-align: center;
      color: white;
      width: 100%;
      top: 4.3vw;

      p {
        padding-right: 0.5vw;
        margin: 0;
        font-size: 1.2vw;
        font-weight: 400;
        display: flex;
        justify-content: center;
        flex-direction: column;
        -webkit-text-stroke-width: 0;
      }
    }

    img {
      max-height: 2vw;
      position: absolute;
      right: 1.6vw;
      top: -1.6vw;
    }
  }

  .sub-text {
    position: absolute;;
    text-align: center;
    font-size: 4.5vw;
    color: white;
    width: 100%;
    padding: 8vw 0 0 0;

    p {
      padding-right: 0.5vw;
      margin: 0;
      font-size: 1.86vw;
      font-weight: 200;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    img {
      max-height: 2vw;
      position: absolute;
      right: 1.6vw;
      top: -1.6vw;
    }
  }
}

.font-format {
  font-size: 30px;
  margin-top: 10px;
  font-weight: lighter;
  letter-spacing: 5px;
}

.button {
  background-color: #96C93D;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
}

.form-check {
  display: inline-block;
  width: 30px;
  height: 30px;
}

#preview-options {
  width: auto;
  height: auto;
}

#button-refresh {
  margin-top: 20px;
  margin-bottom: 20px;
}

#button-submit {
  margin-top: 20px;
}

#button-reveal {
  background-color: #c93;
}
#button-unreveal {
  background-color: #c93;
}

#admin-table {
  margin-top: 20px;
}


#tv-icon {
  font-size: 50px;
}

#titles {
  margin-top: 30px;
  font-size: 60px;
  font-weight: lighter;
  letter-spacing: 5px;
  border-bottom: solid 1px #fff;
  margin-bottom: 50px;
}
