body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Lato', sans-serif;
  background-color: black;
}

#device-code {
  color: white;
  position: absolute;
  bottom: 0;
  left: 100px;
  font-weight: 200;
}

.first {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

}


.second {
  z-index: 20;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 3000ms ease-in-out;
  -moz-transition: opacity 3000ms ease-in-out;
  -o-transition: opacity 3000ms ease-in-out;
  transition: opacity 3000ms ease-in-out;
}

.imgbg {
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.ribbon {
  text-align: center;
  font-size: 4.5vw;
  letter-spacing: 0.1vw;
  color: white;
  margin-top: 0;
  padding-top: 1vw;
  position: absolute;
  left: -32vw;
  top: 6vw;
  width: 100vw;
  transform: rotate(-24deg);
  padding-bottom: 0.5vw;

  .design-line {
    margin-top: 0;
    background-color: black;
    width: 100%;
    height: 0.5vw;
  }

  p {
    padding-top: 2vw;
    margin: 0;
    line-height: 75%;
    text-transform: uppercase;
  }
}

.custom {
  .lg-text {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 4.5vw;
    font-weight: 200;
    color: white;
    width: 100%;
    padding: 6px 0 3px 0;
    top: 255px;

    .title {
      padding-right: 17px;
      font-size: 135px;
      text-transform: uppercase;
      font-weight: bolder;
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: black;
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 500px;
    }
  }

  .sub-text {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 4.5vw;
    color: white;
    width: 100%;
    padding: 13px 0 3px 0;
    top: 255px;

    p {
      padding-right: 17px;
      font-size: 71px;
      font-weight: 400;
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 500px;
      -webkit-text-stroke-width: 0px;
      -webkit-text-stroke-color: black;
    }
  }

  img {
    max-height: 70px;
    position: absolute;
    right: 75px;
    top: -180px;
  }
}

.titlesection {
  position: absolute;
  bottom: 0;
  text-align: right;
  font-size: 4.5vw;
  font-weight: 200;
  color: white;
  width: 100%;
  background-color: rgba(0,0,0,0.75);
  padding: 6px 0 3px 0;

  p {
    padding-right: 17px;
    margin: 0;
    &.title {
        text-transform: uppercase;
    }

    &.subtitle {
        font-weight: 200;
    }
  }

  img {
    max-height: 70px;
    position: absolute;
    bottom: 14px;
    left: 17px;
  }
}

.device-code {
    position: absolute;
    bottom: 0.5vw;
    left: 100px;
    z-index: 100;
    font-size: 2vw;
    color: rgba(255,255,255,0.3);
}

// .underline {
//   height: 1px;
//   width: 96%;
//   background-color: #B0B0B0;
//   position: absolute;
//   bottom: 14px;
//   right: 0;
// }
