body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Lato', sans-serif;
  background-image: image-url("static-slide.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#device-code {
  color: white;
  position: absolute;
  bottom: 0;
  left: 100px;
  font-weight: 200;
}

.first {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.second {
  z-index: 20;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 3000ms ease-in-out;
  -moz-transition: opacity 3000ms ease-in-out;
  -o-transition: opacity 3000ms ease-in-out;
  transition: opacity 3000ms ease-in-out;
}

.ribbon {
  text-align: center;
  font-size: 4.5vw;
  letter-spacing: 0.1vw;
  color: white;
  margin-top: 0;
  padding-top: 1vw;
  position: absolute;
  left: -32vw;
  top: 6vw;
  width: 100vw;
  transform: rotate(-24deg);
  padding-bottom: 0.5vw;

  .design-line {
    margin-top: 0;
    background-color: black;
    width: 100%;
    height: 0.5vw;
  }

  p {
    padding-top: 2vw;
    margin: 0;
    line-height: 75%;
    text-transform: uppercase;
  }
}

#title {
  position: absolute;
  bottom: 0;
  text-align: right;
  font-size: 4.5vw;
  font-weight: 200;
  color: white;
  width: 100%;
  background-color: black;
  padding: 24px 0 3px 0;

  p {
    padding-right: 17px;
    margin: 0;
    &.title {
        text-transform: uppercase;
    }

    &.subtitle {
        font-weight: 200;
    }
  }

  img {
    max-height: 70px;
    position: absolute;
    bottom: 14px;
    left: 17px;
  }
}

// #underline {
//   height: 1px;
//   width: 96%;
//   background-color: #B0B0B0;
//   position: absolute;
//   bottom: 14px;
//   right: 0;
// }
